/* @import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap'); */
body {
    margin: 0;
    background-color: #1F2937;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    background: grey;
    border-bottom: 1px solid greenyellow;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 16px;
}

/*Changes logo (color/size/boldness)*/
.logo {
  color: greenyellow;
  font-size: 24px;
  font-weight: 900;
  font-style: oblique;
}

.nav-links {
    display: flex;
    flex: 1;
    gap: 12px;
}

ul li{
    /*removes bullet points from ul lists*/
    list-style: none;
    margin-right: auto;
    gap: 16px;
}

a {
    /*removes underline on hyperlinks*/
    text-decoration: none;
    color: #F9FAF8;
}

/* Main-Section*/
.title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 40px;
}

.main-section {
    background-color: #1F2937;
    display: flex;
    flex-basis: 500px;
    flex-direction: column;
    text-align: left;
    align-items: center;
    margin-right: 40px;
}

.main-section h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.main-section p {
    color: #E5E7EB;
    font-size: 18px;
}

.main-section button {
    background: #3882F6;
    border-radius: 12px;
    color: white;
    padding: 8px 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.main-image img{
    object-fit: cover;
    width: 500px;
    height: 300px;
}

